{% extends "base.html" %}
{% load static %}

{% block  title %}
    uFindIt - {{ player_task.task.text }}
{% endblock %}

{% block navbar %}
<div id="navbar" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="row" id="gamebar">
      <a class="navbar-brand" href="/"><img src="{% static 'img/ufindit_logo_sm.png' %}" alt="Emory uFindIt game" /></a>
      <div class="col-sm-7">
          <textarea disabled rows="4" id="question" class="form-control panel panel-primary panel-body panel-sm">{{ player_task.task.text }}</textarea>
      </div>
      <div class="col-sm-1">
          <form role="search" method="POST">
            {% csrf_token %}
            <div><button type="button" data-toggle="modal" data-target="#answerModal" class="btn btn-primary">Answer</button></div>
            <div>&nbsp;</div>
            <div><button type="button" data-toggle="modal" data-target="#skipModal" class="btn btn-default btn-sm">Skip</button></div>
          </form>
      </div>
      <div class="col-sm-2">
        <div class="game-panel text-success" style="vertical-align: middle;">
          Question {{ player_task.order|add:1 }} of {{ player_task.player_game.game.tasks.count }}<br />
          Score: {{ player_task.player_game.score }}<br />
        </div>
      </div>
      <div class="visible-lg col-sm-1">
        <small class="text-muted">Welcome,<br />
          {{ user.email }}<br />
          <a href="{% url 'logout' %}">Sign out</a></small>
      </div><!--/.navbar-collapse -->
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<form method="POST" id="answerForm">
  {% csrf_token %}
  <input type="hidden" id="incorrect_answers" name="incorrect_answers" value="" />
  <input type="hidden" id="incorrect_answers_urls" name="incorrect_answers_urls" value="" />
  <div class="modal fade" id="answerModal" tabindex="-1" role="dialog" aria-labelledby="Answer" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Answer the Question</h4>
        </div>
        <div class="modal-body">
            <div class="panel panel-success">
                <div class="panel-heading">Question:</div>
                <div class="panel-body">
                    {{ player_task.task.text }}
                </div>
            </div>
            <input type="text" class="form-control" id="answer" name="answer" placeholder="Answer" autocomplete="off"><br />
            <input type="text" class="form-control" id="answer_url" name="answer_url" autocomplete="off" placeholder="URL of a web page containing the answer">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" name="save_answer" class="btn btn-primary">Save answer</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</form>

<form method="POST" onsubmit="showAnswer()">
  {% csrf_token %}
  <input type="hidden" id="skip_incorrect_answers" name="skip_incorrect_answers" value="" />
  <input type="hidden" id="skip_incorrect_answers_urls" name="skip_incorrect_answers_urls" value="" />
  <div class="modal fade" id="skipModal" tabindex="-1" role="dialog" aria-labelledby="Skip" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Skip the Question</h4>
        </div>
        <div class="modal-body">
          Are you sure you want to skip this question (you won't be able to return to this question later)?<br /><br />
          <strong>Note</strong>, that payments are made only if a player has found the answer or put sufficient amount of effort to searching the answer. It is ok to spent 5-10 minutes searching the answer. <br /><br />
          The question in this game were designed difficult, but we guarantee that they can be answered with web search.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" name="skip" class="btn btn-primary">Skip</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</form>

<iframe src="{% url 'search' task_id=player_task.id %}" class="searchiframe"></iframe>
{% endblock %}

{% block docend %}
<script type="text/javascript" language="javascript"> 
$(document).ready(function() {
  $('.searchiframe').css('height', $(window).height() - $('#navbar').height() - 10 + 'px');
});

function showAnswer() {
{% if player_task.task.long_answer %}
  alert("The correct answer is:\n" + "{{ player_task.task.long_answer|safe|escapejs }}");
{% elif player_task.task.answer %}
  alert("The correct answer is:\n" + "{{ player_task.task.answer|safe|escapejs }}");
{% endif %}
}

$('#answerForm').submit(function (e) {
  {% if answer_to_check %}
    if ($('#answer').val().replace(/\W/g, '').toLowerCase().indexOf("{{ answer_to_check|safe|escapejs }}") == -1) {
      $('#incorrect_answers').val($('#incorrect_answers').val() + '\n' + $('#answer').val());
      $('#incorrect_answers_urls').val($('#incorrect_answers_urls').val() + '\n' + $('#answer_url').val());
      $('#skip_incorrect_answers').val($('#skip_incorrect_answers').val() + '\n' + $('#answer').val());
      $('#skip_incorrect_answers_urls').val($('#skip_incorrect_answers_urls').val() + '\n' + $('#answer_url').val());
      alert("The answer is incorrect!\nPlease make sure you are entering the type of answer specified in the question.\n\nYou can skip the question if you cannot find the answer or if you are sure that your answer is correct, we will review answers later.");
      e.preventDefault();
    }
    else {
      alert("Congratulations! Your answer is correct!");
    }
  {% endif %}
});
</script>
{% endblock %}
