{% extends "base.html" %}

{% block  title %}
    uFindIt - Game Finished!
{% endblock %}


{% block content %}
<div class="container">
  <div class="page-header">
      <h1>Congratulations!</h1>
  </div>
  <div class="alert alert-success">You have successfully finished all the tasks in the game: {{ game }}.<br />
  <a class="alert-link" href="{% url 'index' %}">Return to the main page</a>.</div>
</div>
{% endblock %}

{% block docend %}
<script type="text/javascript" language="javascript"> 
    $('.searchiframe').css('height', $(window).height() - 60 + 'px');
</script>
{% endblock %}
