{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Welcome to uFindIt Game</h1>
    </div>

    {# Login errors go here #}
    {% if form.errors %}
       <div class="alert alert-danger">Your username and password didn't match. Please try again. <a class="alert-link" href="{% url 'password_reset' %}">Forgot password?</a>
       </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Active games:</h3>
        </div>
        <div class="panel-body">
            {% if not games %}
            I'm sorry, there are no active games right now. Come back later!
            {% else %}
                <table class="table">
                    <tr><td>Name</td></tr>
                    {% for game in games %}
                    <tr><td><span>{{ game.name }}</span>
                        &nbsp;&nbsp;&nbsp;<a class="btn btn-success" href="{% url 'game' game_id=game.id %}">Play</a>
                        {% if user.is_staff %}
                            {% if game.hitId %}
                                <span class="badge">HitID: {{ game.hitId }}</span>
                            {% else %}
                                <a href="{% url 'mturk_publish_game' sandbox=1 game_id=game.id %}" class="btn btn-info">Publish in MTurk Sandbox</a>&nbsp;<a href="{% url 'mturk_publish_game' sandbox=0 game_id=game.id %}" class="btn btn-danger">Publish in MTurk</a>
                            {% endif %}
                        {% endif %}
                    </td></tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}