{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Welcome to uFindIt Game</h1>
    </div>

    {# Login errors go here #}
    {% if form.errors %}
       <div class="alert alert-danger">Your username and password didn't match. Please try again. <a class="alert-link" href="{% url 'password_reset' %}">Forgot password?</a>
       </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Active games:</h3>
        </div>
        <div class="panel-body">
            {% if not games %}
            I'm sorry, there are no active games right now. Come back later!
            {% else %}
                <table class="table">
                    <tr><td>Name</td><td></td></tr>
                    {% for game in games %}
                    <tr><td>{{ game.name }}</td><td>
                        &nbsp;&nbsp;&nbsp;
                        {% if user.is_authenticated %}
                            <a class="btn btn-success" href="{% url 'rules' game_id=game.id %}">Play</a>
                            {% if user.is_staff %}
                                {% if game.hitId %}
                                    <span class="badge">HitID: {{ game.hitId }}</span>
                                {% else %}
                                    <a href="{% url 'mturk_publish_game' sandbox=1 game_id=game.id %}" class="btn btn-info">Publish in MTurk Sandbox</a>&nbsp;<a href="{% url 'mturk_publish_game' sandbox=0 game_id=game.id %}" class="btn btn-danger">Publish in MTurk</a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                        <span class="label label-default">please sign in to play</span>
                        {% endif %}
                    </td></tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
    <h3> Who is organizing this and why?</h3>

    <p>This contest is organized by the Emory University's IR Lab (<a href="http://ir.mathcs.emory.edu">http://ir.mathcs.emory.edu</a>). 
    The goal of this contest is to better understand how users search on the web for information of varying difficulty, 
    which strategies are more successful than others, and how we could better help people find information on the web. 
    To accomplish this, our contest interface will track the search queries issued, the documents clicked the amount of time a 
    search takes, and other variables. The resulting data, not associated with any identifiable information about each player, 
    may be shared with other IR researchers for scientific use. </p>

    <h3>Contact information and fine print</h3>

    <p>This contest is organized by the Emory University IR Lab as part of a research effort to study and improve web search quality. 
    This research has been reviewed and approved by the Emory University IRB. If you have any questions or concerns 
    about the contest or the research project, you may contact the principal investigator, Dr. Eugene Agichtein, at 
    <a href="mailto:eugene@mathcs.emory.edu?subject=uFindIt contest">eugene@mathcs.emory.edu</a> by using email with the subject 
    "uFindIt contest". </p>

    <p>For any other questions or concerns, you may contact the Emory IRB office
    (contact information available at  <a href="http://www.irb.emory.edu/">http://www.irb.emory.edu/</a>). 
<hr />
2013 &copy; All rights reserved. Emory University.
</div>
{% endblock %}
