{% extends "search_base.html" %}

{% block title %}
Larry Bird major
{% endblock %}

{% block searchform %}
    <form class="navbar-form" method="GET">
      <div class="input-append">
        <input type="text" value="{{ query }}" id="appendedInputButton" name="q" size="60" autocomplete="off">
        <button type="button" class="btn btn-success btn-disabled" id="search" data-loading-text="Searching...">Search</button>
      </div>
    </form>
{% endblock %}

{% block serp %}

<div class="container">
    <div class="row">
        
        <div class="col-md-6 panel panel-default panel-body">
            
                <ol class="search-results" start="1">
                
                <li>
                    <div class="nospace"><h3 class="nospace"><a href="#"><strong>Larry</strong> <strong>Bird</strong> - Wikipedia, the free encyclopedia</a></h3></div>
                    <div class="nospace"><cite class="search-results-link">en.wikipedia.org/wiki/<strong>Larry</strong>_<strong>Bird</strong></cite></div>
                    <p><strong>Larry</strong> Joe <strong>Bird</strong> (born December 7, 1956) is an American former professional basketball player and coach and the current team president of the Indiana Pacers of the ...</p>
                </li>
                
                <li>
                    <div class="nospace"><h3 class="nospace"><a href="#">What did <strong>Larry bird major</strong> in college - Answers.com Wiki</a></h3></div>
                    <div class="nospace"><cite class="search-results-link">wiki.answers.com/Q/What_did_<strong>larry_bird_major</strong>_in_college</cite></div>
                    <p><strong>Larry</strong> <strong>Bird</strong> received his bachelor's degree from Indiana State University in physical education in 1979. <strong>Larry</strong> <strong>Bird</strong> majored at sports in college.</p>
                </li>
                
                <li>
                    <div class="nospace"><h3 class="nospace"><a href="#"><strong>Larry</strong> <strong>Bird</strong> NBA & ABA Stats | Basketball-Reference.com</a></h3></div>
                    <div class="nospace"><cite class="search-results-link">www.basketball-reference.com/players/b/<strong>bird</strong>la01.html</cite></div>
                    <p><strong>Larry</strong> <strong>Bird</strong>. <strong>Larry</strong> Joe <strong>Bird</strong> (<strong>Larry</strong> Legend, The Hick from French Lick) Position: Forward Shoots: Right Height: 6-9 Weight: 220 lbs. Born: December 7, 1956 in West Baden</p>
                </li>
                
                <li>
                    <div class="nospace"><h3 class="nospace"><a href="#">NBA.com</a></h3></div>
                    <div class="nospace"><cite class="search-results-link">www.nba.com</cite></div>
                    <p><strong>Main</strong> content. Previous. TDD; 48; ATL; 102; Live. Game Info; TV Companion; Next. Tonight on NBA TV: Mavs-Rockets (8 ET) Hang Time blog; All Ball blog; 2013-14 Season ...</p>
                </li>
                
                <li>
                    <div class="nospace"><h3 class="nospace"><a href="#">NBA.com: <strong>Larry</strong> <strong>Bird</strong> Bio</a></h3></div>
                    <div class="nospace"><cite class="search-results-link">www.nba.com/history/players/<strong>bird</strong>_bio.html</cite></div>
                    <p>"<strong>Larry</strong> <strong>Bird</strong> has helped define the way a generation of basketball fans has come to view and appreciate the NBA ... the Pacers with Reggie Miller as it's <strong>main</strong> ...</p>
                </li>
                
                <li>
                    <div class="nospace"><h3 class="nospace"><a href="#">What was the first college <strong>Larry</strong> <strong>Bird</strong> attended - The Q&A wiki</a></h3></div>
                    <div class="nospace"><cite class="search-results-link">wiki.answers.com/Q/What_was_the_first_college_<strong>Larry</strong>_<strong>Bird</strong>_attended</cite></div>
                    <p>What did <strong>Larry bird major</strong> in college? in 1979. <strong>Larry</strong> <strong>Bird</strong> majored at sports in college. Did <strong>Larry</strong> <strong>bird</strong> go to college? First received scholarship to Indiana University ...</p>
                </li>
                
                <li>
                    <div class="nospace"><h3 class="nospace"><a href="#"><strong>Larry</strong> <strong>Bird</strong> Biography (Basketball Player) | Infoplease.com</a></h3></div>
                    <div class="nospace"><cite class="search-results-link">www.infoplease.com/biography/var/<strong>larrybird</strong>.html</cite></div>
                    <p>Biography of <strong>Larry</strong> <strong>Bird</strong>, Leader of three Boston Celtics championship teams in the 1980s</p>
                </li>
                
                <li>
                    <div class="nospace"><h3 class="nospace"><a href="#">What did <strong>larry bird major</strong> in college? - Wikianswers - Find and ...</a></h3></div>
                    <div class="nospace"><cite class="search-results-link">answers.wikia.com/wiki/What_did_<strong>larry_bird_major</strong>_in_college</cite></div>
                    <p>This question is awaiting an answer... Please leave this field blank unless you are answering the question. Do not ask questions you already know the answer to.</p>
                </li>
                
                <li>
                    <div class="nospace"><h3 class="nospace"><a href="#"><strong>Larry</strong> <strong>Bird</strong> - Simple English Wikipedia, the free encyclopedia</a></h3></div>
                    <div class="nospace"><cite class="search-results-link">simple.wikipedia.org/wiki/<strong>Larry</strong>_<strong>Bird</strong></cite></div>
                    <p>Lawrence Joseph "<strong>Larry</strong>" <strong>Bird</strong> (born December 7 1956) is an American retired NBA basketball player. He is widely believed to be one of the best players of all time and ...</p>
                </li>
                
                <li>
                    <div class="nospace"><h3 class="nospace"><a href="#">Indiana State University: ISU Newsroom</a></h3></div>
                    <div class="nospace"><cite class="search-results-link">www.indstate.edu/news/news.php?newsid=3740</cite></div>
                    <p>It's certainly worthy of a <strong>major</strong> welcome and homecoming for all Sycamore fans, ... The $133 tickets include a commemorative program and <strong>Larry</strong> <strong>Bird</strong> bobble head.</p>
                </li>
                
                </ol>

                
                <ul class="pagination pagination-sm">
                    <li class="disabled">
                        <a href="#">&laquo;</a>
                    </li>
                    
                    
                    

                    
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li >
                        <a href="#">4</a>
                    </li>
                    <li class="disabled"><a>...</a></li>
                    <li >
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
        </div>
        
    </div>
</div>
{% endblock %}

{% block endofdoc %}
<script langiage="javascript">
$(document).ready(function() {
  $('.btn').on('click', function() {
    alert("You need to accept HIT first.");
  });
});
</script>
{% endblock %}
