{% extends "base.html" %}

{% block  title %}
    uFindIt - {{ player_task.task.text }}
{% endblock %}

{% block navbar_content %}
<!-- <form class="navbar-form navbar-center"> -->
<ul class="nav navbar-nav">
    <li>
        <a id="question" data-toggle="popover" href="#" class="navbar-text panel panel-success panel-body panel-sm" data-placement="bottom" style="margin-top:5px; margin-right:5px; padding:10px 10px 10px 10px" data-content="Recently one of your friends got interested in the career of a legendary basketball player Larry Bird. While basketball career of this player is well documented, your friend couldn't find anything about Bird's major in college. Could you find an answer to this question?">
            Recently one of your friends got interested in the career of a legen...
        </a>
    </li>
</ul>

<form class="navbar-form navbar-left" role="search" method="POST">
  <button type="button" data-toggle="modal" data-target="#answerModal" class="btn btn-primary btn-disabled">Answer question</button>
  <button type="button" name="skip" class="btn btn-default btn-disabled">Skip</button>
</form>
<!-- </form> -->
{% endblock %}

{% block loginbox %}

{% endblock %}

{% block content %}
<form method="POST">
  <div class="modal fade" id="answerModal" tabindex="-1" role="dialog" aria-labelledby="Answer" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Answer question</h4>
        </div>
        <div class="modal-body">
            <div class="panel panel-success">
                <div class="panel-heading">Question:</div>
                <div class="panel-body">
                    Recently one of your friends got interested in the career of a legendary basketball player Larry Bird. While basketball career of this player is well documented, your friend couldn't find anything about Bird's major in college. Could you find an answer to this question?
                </div>
            </div>
            <input type="text" class="form-control" id="answer" name="answer" placeholder="Answer" autocomplete="off"><br />
            <input type="hidden" class="form-control" name="answer_url" placeholder="URL of a web page with answer">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-disabled" data-dismiss="modal">Close</button>
          <button type="button" name="save_answer" class="btn btn-primary btn-disabled">Save answer</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</form>
<iframe src="{% url 'mturk_demo_search' %}" height="100%" width="100%" frameBorder="0" class="searchiframe"></iframe>
{% endblock %}

{% block docend %}
<script type="text/javascript" language="javascript"> 
$(document).ready(function() {
  $('.searchiframe').css('height', $(window).height() - 60 + 'px');
  $("#question").popover({
      animation:true,
      html:true,
      title:'<span class="text-info"><strong>Question:</strong></span>'+
               '<button type="button" id="close" class="close" onclick="$(&quot;#question&quot;).popover(&quot;hide&quot;);">&times;</button>'
    });
  $("#question").popover('show');
  $('.btn').on('click', function() {
    alert("You need to accept HIT first.");
  });
});
</script>
{% endblock %}
