{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>Game Description <small>Please read carefully</small></h2>
  <hr />

  <div class="row"><div class="col-md-8">
  <h4>Goal</h4>
  <p>The goal of this game is to <strong>find answers</strong> to several questions <strong>by searching the web</strong> using our <strong> provided search interface</strong>.
  In this contest you will need to use your best search skills, general knowledge, and quick thinking.
  We hope this contest is fun, and challenges you to use search creatively!</p>
  <br />
  When searching for the answer <strong>you will be asked some additional questions on the quality of search results.</strong> Responses to these additional questions are an important part of the task. The quality of your responses will be used to decide the bonus amount, if any.
  <hr />
  <h4>Requirements</h4>
  <ul>
    <li>You should use web search to find answers to the provided questions (even if you know the answer)</li>
    <li>You should only use provided search interface and do not try to issue this query to another search engine in a separate browser tab. In order to receive credit for your work, the result page must be found and visited through our search interface only</li>
    <li>Attempts to abuse the game or the provided search interface will be prosecuted with Amazon MTurk customer support.</li>
  </ul>
  <hr />
  <h4>Payments</h4>
  <ul>
    <li>All requirements should be satisfied in order for a player to recieve his payment.</li>
    <li>Payments will be based on effort - sometimes the answer is very difficult to find, no matter how hard you try, and good faith effort is sufficient for base payment.</li>
    <li>A player may be entitled to a bonus payment for correctly answering the game questions, and providing additional responses about search quality as requested.</li>
  </ul>

  <hr />
  <div class="checkbox">
    <label>
      <input type="checkbox" id="read"> I have read and agree to the rules of the game
    </label>
  </div>
  <br />
  <a href="{% url 'game' game_id=game_id %}?accepted=1" class="btn btn-success" id="nextBtn" disabled>Start game</a>
</div></div></div>

{% endblock %}

{% block docend %}
<script language="javascript">
  $(document).ready(function() {
    $('#read').click(function() {
      if (this.checked)
        $('#nextBtn').removeAttr('disabled');
      else
        $('#nextBtn').attr('disabled', true);
    });
  });
</script>
{% endblock %}