{% extends 'base.html' %}

{% block title %}
    Thank you for playing!
{% endblock %}

{% block content %}
<div class="col-md-8 col-md-offset-3"> 
    <div class="page-header">
      <h1>Almost there! <small>Please complete the survey below to finish the game</small></h1>
    </div>

    {% if errors %}
    <div class="alert alert-danger">
        Please complete the survey. All questions marked '*' are required.
    </div>
    {% endif %}

    <ol>
    <form method="POST" class="form-horizontal" role="form">
      {% csrf_token %}
      {# How did you like the game #}
      <div class="form-group">
        <li>
        <label class="control-label">* How did you like the game?</label><br />
        <div class="radio">
          <label>
            <input type="radio" name="like" id="optionsRadios1" value="2">
            Like a great deal
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="like" id="optionsRadios1" value="1">
            Like a little
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="like" id="optionsRadios1" value="0">
            Neither like nor dislike
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="like" id="optionsRadios1" value="-1">
            Dislike a little
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="like" id="optionsRadios1" value="-2">
            Dislike a great deal
        </div>
        </li>
      </div>

      <div class="form-group">
        <li>
        <label class="control-label">* If there is a chance would like to play again?</label><br />
        <div class="radio">
          <label>
            <input type="radio" name="again" id="optionsRadios1" value="2">
            Yes, absolutely
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="again" id="optionsRadios1" value="1">
            Probably
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="again" id="optionsRadios1" value="0">
            I don't know
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="again" id="optionsRadios1" value="-1">
            Unlikely
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="again" id="optionsRadios1" value="-2">
            Definetely no
        </div>
        </li>
      </div>

      <div class="form-group">
        <li>
        <label class="control-label">* How difficult was the game?</label><br />
        <div class="radio">
          <label>
            <input type="radio" name="easy" id="optionsRadios1" value="2">
            Extremely easy
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="easy" id="optionsRadios1" value="1">
            Somewhat easy
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="easy" id="optionsRadios1" value="0">
            Sometimes easy, sometimes hard
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="easy" id="optionsRadios1" value="-1">
            Somewhat difficult
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="easy" id="optionsRadios1" value="-2">
            Extremely difficult
        </div>
        </li>
      </div>
      <div class="form-group">
        <li>
        <label class="control-label">* How would you descrive your experience with the web search?</label><br />
        <div class="radio">
          <label>
            <input type="radio" name="exp" id="optionsRadios1" value="2">
            Advanced web search user, I know how web search works and use this knowledge to ask good queries
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="exp" id="optionsRadios1" value="1">
            Experienced user, I use web search often and have my own habits of query formulation
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="exp" id="optionsRadios1" value="0">
            Inexperienced user, I use web search from time to time and often struggle to get the right results
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="exp" id="optionsRadios1" value="-1">
            Newbie user, sometimes I use web search, but I'm not sure how to do this correctly
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="exp" id="optionsRadios1" value="-2">
            I haven't used web search before the game
        </div>
        </li>
      </div>

      <hr />
      <div class="form-group">
          <label for="feedback" class="control-label">
            Please let us know if you have any other comments, suggestions or any other type of feedback:
          </label>
          <textarea rows="5" name="feedback" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">Submit and Finish Game</button>
      </div>
    </form>
</div>
{% endblock %}