{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>{{ game.player.user.username }} - {{ game.game.name }} <span class="badge">{{ game.start }} - {{ game.finish }}</span> <small><a href="{% url 'analytics:games' %}">to the list of games</a></small></h2>
    <hr />

    <div class="panel-group" id="tasks">
    {% for task in game.playertask_set.all %}
            <div class="panel panel-default">
                <div class="panel-heading"><a data-toggle="collapse" data-parent="#tasks" href="#collapse{{ forloop.counter }}">{{ task.task.text }}</a></div>
                <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse in">
                    <div class="panel-body">
                        Answer: {{ task.answer }}<br />
                        Start: {{ task.start }}<br />
                        Finish: {{ task.finish }}<br />
                    </div>
                    <ol class="list-group">
                        {% for event in task.event_set.all %}
                        <li class="list-group-item">{{ event.event }} - {% if event.query %}{{ event.query }}{% endif %} {% if event.url %}{{ event.url }}{% endif %}
                            [{{ event.time|date:"r" }}]
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </li>
    {% endfor %}
    </div>

</div>
{% endblock %}