{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>{{ game.player.user.username }} - {{ game.game.name }} <span class="badge">{{ game.start }} - {{ game.finish }}</span> <small><a href="{% url 'analytics:games' finish='f' %}">to the list of games</a></small></h2>
    <hr />

    <div class="panel-group" id="tasks">
    {% for task in game.playertask_set.all %}
            <div class="panel panel-default">
                <div class="panel-heading">{{ task.task.text }}<a data-toggle="collapse" href="#collapse{{ forloop.counter }}" class="glyphicon glyphicon-chevron-down pull-right"></a></div>
                <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse in">
                    <div class="panel-body">
                        Answer: {{ task.answer }}<br />
                        Answer url: {{ task.answer_url }}<br />
                        Start: {{ task.start }}<br />
                        Finish: {{ task.finish }}<br />
                    </div>
                    <ol class="list-group">
                        {% for event in task.event_set.all %}
                        <li class="list-group-item">{{ event.event }} - {% if event.query %}<a href="#" target="blank">{{ event.query }}</a>{% endif %}
                            {% if event.url %}<a href="{% url 'play_http_proxy' url=event.url %}" target="blank">{{ event.url }}</a>{% endif %}
                            [{{ event.time|date:"r" }}]<br />
                            {% if event.query %}
                                Results quality:
                                <ul>
                                {% for qup in task.queryurlproblem_set.all %}
                                    {% if qup.serp == event.serp %}
                                        <li>{{ qup.url }}<br />
                                            {% if qup.missing_terms %} Missing topic: {{ qup.missing_terms }}<br />{% endif %}
                                            {% if qup.misinterpreted_terms %} Misinterpreted terms: {{ qup.misinterpreted_terms }}<br /> {% endif %}
                                            {% if qup.missing_relations %} Missing relation: {{ qup.missing_relations }}<br /> {% endif %}
                                            {% if qup.extra %} Other: {{ qup.extra }}<br /> {% endif %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                                Query difficulty:
                                <ul>
                                {% for qd in task.querydifficulty_set.all %}
                                    {% if qd.serp == event.serp %}
                                        <li>{{ qd.difficulty }}</li>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ol>
                    </ol>
                </div>
            </div>
        </li>
    {% endfor %}
    </div>

</div>
{% endblock %}