{% extends 'serp.html' %}

{% block searchform %}
    <form class="navbar-form" method="GET">
      {% csrf_token %}
      <div class="input-append">
        <input type="text" value="{{ query }}" id="queryText" name="q" size="60" autocomplete="off">
        <button type="submit" class="btn btn-success" id="search" data-loading-text="Searching...">Search</button>
        <button type="button" data-toggle="modal" id="queryDifficultyButton" href="#queryDifficulty" class="btn btn-warning">I want to try different query</button>
      </div>
    </form>
{% endblock %}

{% block results %}
  {% if results|length > 1 %}
    <div class="alert alert-danger">
      <strong>ERROR!</strong>
      Query difficulty project works only if RESULTS_PER_PAGE=1
    </div>
  {% else %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ol class="search-results" start="{{ results.start_index }}">
          {% for result in results %}
          <li>
              <div class="nospace"><h3 class="nospace"><a href="{% url 'http_proxy_decorator' task_id=task_id serp_id=serpid url=result.safe_url %}" class="nospace" target="blank">{{ result.title|safe }}</a></h3></div>
              <div class="nospace"><cite class="search-results-link">{{ result.display_url|safe }}</cite></div>
              <p>{{ result.snippet|safe }}</p>
          </li>
        </ol>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
{% endblock %}

{% block pager %}
  {# URL problem panel : BEGIN #}
  <form method="POST" id="queryUrlProblemForm">
    <input type="hidden" name="serpid" value="{{ serpid }}">
    <input type="hidden" name="rank" value="{{ results.start_index }}" />
    <small>
    <div class="panel panel-default">
      <div class="panel-heading">Don't like this result? Why?</div>
       
      <table class="table" style="width: auto; text-align: center;">
      <tr><th style="padding: 4px">&nbsp;</th>
        {% for term in query_terms %}<th style="padding: 4px">{{ term }}</th> {% endfor %}
      </tr>
      <tr>
        <td style="padding: 4px" class="text-right">Missing topic</td>
        {% for term in query_terms %}
          <td style="padding: 4px">
            <input type="checkbox" name="missing[]" value="{{term}}">
          </td>
        {% endfor %}
      </tr>
      <tr>
        <td style="padding: 4px" class="text-right">Misinterpreted keyword</td>
        {% for term in query_terms %}
          <td style="padding: 4px">
            <input type="checkbox" name="misinterpreted[]" value="{{ term }}">
          </td>
        {% endfor %}
      </tr>
      <tr>
        <td style="padding: 4px" class="text-right">Missing relation between topics</td>
        {% for term in query_terms %}
          <td style="padding: 4px">
            <input type="checkbox" name="missing_relation[]" value="{{ term }}">
          </td>
        {% endfor %}
      </tr>
      </table>

      <div class="panel-body form-group">
        <label class="sr-only" for="extra">Other problem</label>
        <input type="text" class="form-control" name="extra" id="extra" placeholder="Other problem?">
      </div>
    </div>
  </small>
  </form>
  {# URL problem panel : END #}
  <div id="fillFormAlert" class="alert alert-danger hide">If you don't like this result please specify why...</div>
  <a class="btn btn-sm btn-info pager_button" href="{% if results.has_next %}?q={{query}}&page={{ results.next_page_number }}{% else %}?q={{query}}&page=1{% endif %}">Next result &raquo;</a> Result {{ results.start_index }} of {{ pages_number }}
{% endblock %}

{% block extracode %}
  <!-- Modal -->
  <div class="modal fade" id="queryDifficulty" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">What exactly didn't you like about the search results?</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" id="queryDifficultyForm">
            <input type="hidden" name="serpid" value="{{ serpid }}">
            <input type="hidden" id="openTimer" name="openTimer" value="0">
            <fieldset>
            <!-- Multiple Checkboxes -->
            <div class="control-group">
              <div class="controls">
                <div class="checkbox">
                  <label for="query_difficulty-3">
                    <input type="checkbox" name="query_difficulty" id="query_difficulty-3" value="I found an answer to a subtask and need to do more searches to find the answer to the whole question.">
                      I found an answer to a subtask and need to do more searches to find the answer to the whole question.
                  </label>
                </div>
                <div class="checkbox">
                  <label for="query_difficulty-0">
                    <input type="checkbox" name="query_difficulty" id="query_difficulty-0" value="Documents are about the topic of interest, but don't contain the answer to the question.">
                      Documents are about the topic of interest, but don't contain the answer to the question.
                  </label>
                </div>
                <div class="checkbox">
                  <label for="query_difficulty-1">
                    <input type="checkbox" name="query_difficulty" id="query_difficulty-1" value="Documents are missing main topic of the query">
                      Some documents are about the topic of interest, but don't contain the answer to the question.
                  </label>
                </div>
                <div class="checkbox">
                  <label for="query_difficulty-2">
                    <input type="checkbox" name="query_difficulty" id="query_difficulty-2" value="Documents are about different interpretation of the main topic of the query.">
                      There are no documents about the topic of the query.
                  </label>
                </div>
                <div class="checkbox">
                  <label for="query_difficulty-4">
                    <input type="checkbox" name="query_difficulty" id="query_difficulty-4" value="This wasn't the query I intended to enter.">
                      This wasn't the query I intended to enter.
                  </label>
                </div>
                <br />
                <div class="textarea">
                  <textarea rows="3" name="other_reason" class="form-control" id="queryDifficultyTextarea" placeholder="Other reason..."></textarea>
                </div>
              </div>
            </div>

            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" id="queryDifficultySubmit" class="btn btn-primary">Submit</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <script language="javascript">
    {% if query %}
    function checkUrlForm() {
      if ($('[name="missing[]"]:checked').length == 0 &&
          $('[name="misinterpreted[]"]:checked').length == 0 &&
          $('[name="missing_relation[]"]:checked').length == 0 &&
          $('#extra').val() == "")
        return false;
      return true;
    }

    var timer;

    function incrementTimer() {
        var cur = parseInt($("#openTimer").val());
        $("#openTimer").val(cur + 1);
    }

    $(document).ready(function() {
        $('#search').hide();
        $('#queryText').prop('disabled', true);

        // Query difficulty window timer
        $('#queryDifficulty').on('shown.bs.modal', function() {
            timer = setInterval(incrementTimer, 1000);
        });
        $('#queryDifficulty').on('hidden.bs.modal', function() {
            clearInterval(timer);
        });

        // onclick for query difficulty
        $('#queryDifficultySubmit').on('click', function () {
            var empty = $('#queryDifficultyTextarea').val() == "";
            empty = empty && $(':checkbox:checked').length == 0;
            if (empty) {
                alert("Please choose one or more options before continuing.");
            }
            else {
                $.post("{% url 'querydifficulty:submit_query_difficulty' task_id=task_id %}", 
                    $('#queryDifficultyForm').serialize());
                $('#queryDifficulty').modal('hide');
                $('#queryText').prop('disabled', false);
                $('#queryDifficultyButton').hide();
                $('#search').show();
            }
        });

        $('.pager_button').on('click', function() {
          if (!checkUrlForm()) {
            $('#fillFormAlert').removeClass('hide');
            return false;
          }
          else {
              $.ajax({
                type: "POST",
                url: "{% url 'querydifficulty:submit_url_problem' task_id=task_id %}",
                data: $('#queryUrlProblemForm').serialize(),
                async: false
              });
          }
        });

    });
    {% else %}
    $('#queryDifficultyButton').hide();
    {% endif %}
  </script>
{% endblock %}