{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <h2>Query reformulation <small>Please read carefully</small></h2>

  Briefly describe the quality of current search results by choosing one of the provided options or typing the reason in the 'Other reason' box if neither of options describe your case. <strong>Note</strong> that these questions are big part of the game, and your replies will be considered when approving the game.

  <hr />

  <img src="{% static 'img/page4.png' %}" />
  <hr />
  <div class="checkbox">
    <label>
      <input type="checkbox" id="read"> I have read and agree to the rules of the game
    </label>
  </div>
  <br />
  <a href="{% url 'querydifficulty:rules3' game_id=game_id %}" class="btn btn-default">Previous</a>&nbsp;&nbsp;
  <a href="{% url 'querydifficulty:rules5' game_id=game_id %}" class="btn btn-default" id="nextBtn" disabled>Next</a>
</div></div></div>
{% endblock %}

{% block docend %}
<script language="javascript">
  $(document).ready(function() {
    $('#read').click(function() {
      if (this.checked)
        $('#nextBtn').removeAttr('disabled');
      else
        $('#nextBtn').attr('disabled', true);
    });
  });
</script>
{% endblock %}