{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <h2>Interface <small>Please read carefully</small></h2>
  <hr />

  Questions will be given to you one by one. You <strong>should</strong> search for answer using the search interface provided.


  <br />
  <br />
  <img src="{% static 'img/page1.png' %}" />
  <hr />
  <a href="{% url 'rules' game_id=game_id %}" class="btn btn-default">Previous</a>&nbsp;&nbsp;
  <a href="{% url 'querydifficulty:rules2' game_id=game_id %}" class="btn btn-default">Next</a>
</div></div></div>
{% endblock %}