{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>Game Description <small>Please read carefully</small></h2>
  <hr />

  <div class="row"><div class="col-md-8">
  <h4>Goal</h4>
  <p>The goal of this game is to <strong>find answers</strong> to several questions <strong>by searching the web</strong> using our <strong> provided search interface</strong>.
  In this contest you will need to use your best search skills, general knowledge, and quick thinking.
  We hope this contest is fun, and challenges you to use search creatively!</p>
  <br />
  When searching for the answer <strong>you will be asked some additional questions on the quality of search results.</strong> Answers to these questions are a big part of the game.
  <hr />
  <h4>Requirements</h4>
  <ul>
    <li>You should use web search to find answers to the provided questions (even if you know the answer)</li>
    <li>You should only use provided search interface and do not try to issue this query to another search engine in a separate browser tab.</li>
    <li>You can examine search results by clicking a link in search interface or right-clicking and opening it in a new tab. You <strong>should not</strong> copy url and enter this URL into browser address bar because we require all results to be viewed through our proxy.</li>
    <li>You should provide trustful answers to the questions regarding search results quality</li>
    <li>You are allowed to skip a question <strong>only if</strong> you put good effort in finding the answer and didn't succeed.</li>
    <li>You shouldn't deliberately try to break the game website or use it in any other way other than for playing the game.</li>
  </ul>
  <hr />
  <h4>Payments</h4>
  <ul>
    <li>All requirements should be satisfied in order for a player to recieve his payment</li>
    <li>We reserve the right to disqualify a player for violating one or more requirements listed above</li>
    <li>A player can also be entitled for a <strong>bonus</strong> if all requirements are satisfied and answers to all questions are correct</li>
  </ul>

  <hr />
  <div class="checkbox">
    <label>
      <input type="checkbox" id="read"> I have read and agree to the rules of the game
    </label>
  </div>
  <br />
  <a href="{% url 'querydifficulty:rules1' game_id=game_id %}" class="btn btn-default" id="nextBtn" disabled>Next</a>
</div></div></div>

{% endblock %}

{% block docend %}
<script language="javascript">
  $(document).ready(function() {
    $('#read').click(function() {
      if (this.checked)
        $('#nextBtn').removeAttr('disabled');
      else
        $('#nextBtn').attr('disabled', true);
    });
  });
</script>
{% endblock %}