{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <h2>Answering question <small>Please read carefully</small></h2>

You can submit the answer by clicking the Answer button and entering it in the dialog that will appear. If no matter how you try you cannot find the answer, you can skip the question. Note, that <strong>we will evaluate the &quot;effort&quot;</strong> before approving your game for payment.

  <hr />

  <img src="{% static 'img/page6.png' %}" />
  <hr />
  <div class="checkbox">
    <label>
      <input type="checkbox" id="read"> I have read and agree to the rules of the game
    </label>
  </div>
  <br />
  <a href="{% url 'querydifficulty:rules5' game_id=game_id %}" class="btn btn-default">Previous</a>&nbsp;&nbsp;
  <a href="{% url 'game' game_id=game_id %}" class="btn btn-success" id="nextBtn" disabled>Start the game</a>
</div></div></div>
{% endblock %}

{% block docend %}
<script language="javascript">
  $(document).ready(function() {
    $('#read').click(function() {
      if (this.checked)
        $('#nextBtn').removeAttr('disabled');
      else
        $('#nextBtn').attr('disabled', true);
    });
  });
</script>
{% endblock %}