{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <h2>Search results <small>Please read carefully</small></h2>

  Clicked document will be opened in the same window (unless you right click it in the search results page and choose open in a new tab). To go back to the search results simply click your browser Back button as shown on the picture.

  <hr />

  <img src="{% static 'img/page5.png' %}" />
  <hr />
  <a href="{% url 'querydifficulty:rules4' game_id=game_id %}" class="btn btn-default">Previous</a>&nbsp;&nbsp;
  <a href="{% url 'querydifficulty:rules6' game_id=game_id %}" class="btn btn-default">Next</a>
</div></div></div>
{% endblock %}