{% extends 'base.html' %}

{% block title %}
    Thank you for playing!
{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3"> 
    <div class="page-header">
      <h1>Almost there! <small>Please complete the survey below to finish the game</small></h1>
    </div>

    {% if errors %}
    <div class="alert alert-danger">
        Please complete the survey. All questions marked '*' are required.
    </div>
    {% endif %}

    <ol>
    <form action="{% url 'querydifficulty:submit_survey_view' game_id=game.id %}" method="POST" class="form-horizontal" role="form">
      {% csrf_token %}
      {# How did you like the game #}
      <div class="form-group">
        <li>
        <label class="control-label">* How did you like the game?</label><br />
        <div class="radio">
          <label>
            <input type="radio" name="like" id="optionsRadios1" value="2">
            Like a great deal
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="like" id="optionsRadios1" value="1">
            Like a little
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="like" id="optionsRadios1" value="0">
            Neither like nor dislike
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="like" id="optionsRadios1" value="-1">
            Dislike a little
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="like" id="optionsRadios1" value="-2">
            Dislike a great deal
        </div>
        </li>
      </div>

      <div class="form-group">
        <li>
        <label class="control-label">* If there is a chance would like to play again?</label><br />
        <div class="radio">
          <label>
            <input type="radio" name="again" id="optionsRadios1" value="2">
            Yes, absolutely
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="again" id="optionsRadios1" value="1">
            Probably
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="again" id="optionsRadios1" value="0">
            I don't know
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="again" id="optionsRadios1" value="-1">
            Unlikely
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="again" id="optionsRadios1" value="-2">
            Definetely no
        </div>
        </li>
      </div>

      <div class="form-group">
        <li>
        <label class="control-label">* How difficult the game was?</label><br />
        <div class="radio">
          <label>
            <input type="radio" name="easy" id="optionsRadios1" value="2">
            Extremely easy
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="easy" id="optionsRadios1" value="1">
            Somewhat easy
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="easy" id="optionsRadios1" value="0">
            Sometimes easy, sometimes hard
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="easy" id="optionsRadios1" value="-1">
            Somewhat difficult
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="easy" id="optionsRadios1" value="-2">
            Extremely difficult
        </div>
        </li>
      </div>

      <div class="form-group">
        <li>
        <label class="control-label">* How distracting was it to answer questions on what didn't you like in search results?</label><br />
        <div class="radio">
          <label>
            <input type="radio" name="distract" id="optionsRadios1" value="-1">
            Like it, questions even helped me to reformulate my query
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="distract" id="optionsRadios1" value="0">
            It was ok
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="distract" id="optionsRadios1" value="1">
            Exteremely distracting
        </div>
        </li>
      </div>

      <div class="form-group">
        <li>
        <label class="control-label">* How easy was it to answer questions on what didn't you like in search results?</label><br />
        <div class="radio">
          <label>
            <input type="radio" name="query_easy" id="optionsRadios1" value="-1">
            I was able to choose an answer easily
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="query_easy" id="optionsRadios1" value="0">
            Sometimes had to think a little bit, but on average it was ok
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="query_easy" id="optionsRadios1" value="0">
            Very hard, couldn't find a good answer
        </div>
        </li>
      </div>
      <div class="form-group">
          <label for="qdiff_feedback" class="control-label">
            Please comment on your experience answering questions on 'What didn't you like in current search results?':
          </label>
          <textarea rows="3" name="qdiff_feedback" class="form-control"></textarea>
      </div>
      <hr />
      <div class="form-group">
          <label for="feedback" class="control-label">
            Please let us know if you have any other comments, suggestions or any other type of feedback:
          </label>
          <textarea rows="5" name="feedback" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">Submit and Finish Game</button>
      </div>
    </form>
</div>
{% endblock %}